USE [master]
GO
/****** Object:  Database [CompanyApiDbContext]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE DATABASE [CompanyApiDbContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyApiDbContext', FILENAME = N'C:\Users\spotk\CompanyApiDbContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyApiDbContext_log', FILENAME = N'C:\Users\spotk\CompanyApiDbContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyApiDbContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyApiDbContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DirectorId] [int] NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[LeaderId] [int] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[LeaderId] [int] NULL,
 CONSTRAINT [PK_Divisions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 22. 6. 2026 1:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DivisionId] [int] NOT NULL,
	[LeaderId] [int] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260621213156_InitialCreate', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [Name], [Code], [DirectorId]) VALUES (1, N'Technológie s.r.o.', N'TECH', 1)
INSERT [dbo].[Companies] ([Id], [Name], [Code], [DirectorId]) VALUES (2, N'Stavebniny Tatra a.s.', N'STAV', 5)
INSERT [dbo].[Companies] ([Id], [Name], [Code], [DirectorId]) VALUES (4, N'Logistika Plus s.r.o.', N'LOG', 9)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [Code], [ProjectId], [LeaderId]) VALUES (1, N'Backend tím', N'BACKEND', 1, 1)
INSERT [dbo].[Departments] ([Id], [Name], [Code], [ProjectId], [LeaderId]) VALUES (2, N'Sociálne siete', N'SOCIAL', 2, 3)
INSERT [dbo].[Departments] ([Id], [Name], [Code], [ProjectId], [LeaderId]) VALUES (3, N'Statické výpočty', N'STATIKA', 3, 6)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([Id], [Name], [Code], [CompanyId], [LeaderId]) VALUES (1, N'Vývoj softvéru', N'DEV', 1, 2)
INSERT [dbo].[Divisions] ([Id], [Name], [Code], [CompanyId], [LeaderId]) VALUES (2, N'Marketing', N'MKT', 1, 3)
INSERT [dbo].[Divisions] ([Id], [Name], [Code], [CompanyId], [LeaderId]) VALUES (3, N'Projekcia a architektúra', N'PROJ', 2, 6)
SET IDENTITY_INSERT [dbo].[Divisions] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email], [CompanyId]) VALUES (1, N'Ing.', N'Ján', N'Novák', N'+421 900 111 222', N'jan.novak@tech.sk', 1)
INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email], [CompanyId]) VALUES (2, N'Mgr.', N'Mária', N'Kováčová', N'+421 900 333 444', N'maria.kovacova@tech.sk', 1)
INSERT [dbo].[Employees] ([Id], [Title], [FirstName], [LastName], [Phone], [Email], [CompanyId]) VALUES (3, N'Dr.', N'Peter', N'Horváth', N'+421 900 555 666', N'peter.horvath@tech.sk', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Name], [Code], [DivisionId], [LeaderId]) VALUES (1, N'Portál pre zákazníkov', N'PORTAL', 1, 5)
INSERT [dbo].[Projects] ([Id], [Name], [Code], [DivisionId], [LeaderId]) VALUES (2, N'Kampaň Q3', N'Q3CAMP', 2, 3)
INSERT [dbo].[Projects] ([Id], [Name], [Code], [DivisionId], [LeaderId]) VALUES (3, N'Rezidenčný komplex Sever', N'REZ-SEVER', 3, 6)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Companies_Code]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Companies_Code] ON [dbo].[Companies]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Companies_DirectorId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Companies_DirectorId] ON [dbo].[Companies]
(
	[DirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_LeaderId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_LeaderId] ON [dbo].[Departments]
(
	[LeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_ProjectId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_ProjectId] ON [dbo].[Departments]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Divisions_CompanyId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Divisions_CompanyId] ON [dbo].[Divisions]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Divisions_LeaderId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Divisions_LeaderId] ON [dbo].[Divisions]
(
	[LeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_CompanyId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_CompanyId] ON [dbo].[Employees]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_DivisionId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Projects_DivisionId] ON [dbo].[Projects]
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_LeaderId]    Script Date: 22. 6. 2026 1:53:38 ******/
CREATE NONCLUSTERED INDEX [IX_Projects_LeaderId] ON [dbo].[Projects]
(
	[LeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Employees_DirectorId] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Employees_DirectorId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Employees_LeaderId] FOREIGN KEY([LeaderId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Employees_LeaderId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Divisions_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Divisions] CHECK CONSTRAINT [FK_Divisions_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Divisions_Employees_LeaderId] FOREIGN KEY([LeaderId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Divisions] CHECK CONSTRAINT [FK_Divisions_Employees_LeaderId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Divisions_DivisionId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Employees_LeaderId] FOREIGN KEY([LeaderId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Employees_LeaderId]
GO
USE [master]
GO
